#Projet House

In [29]:
import pandas as pd
hp = pd.read_csv('./Data/house_price.csv')
chb = pd.read_csv('./Data/nombre_de_chambres.csv')
sdb = pd.read_csv('./Data/nombre_de_sdb.csv')
sf = pd.read_csv('./Data/superficie.csv')
print('dataset loaded')

dataset loaded

In [45]:
chb.columns = ['ID', 'Nb chambres']
sdb.columns = ['ID', 'Nb Salles de Bain']
sf.columns = ['ID', 'Superficie']

datasetV1 = chb.join ( sdb.set_index( [ 'ID' ], verify_integrity=True ), on=[ 'ID' ], how='left' )
dataset = datasetV1.join ( sf.set_index( [ 'ID' ], verify_integrity=True ), on=[ 'ID' ], how='left' )

In [46]:
dataset

    ID  Nb chambres  Nb Salles de Bain  Superficie
0    1            4                  1       27667
1    2            1                  1       14742
2    3            4                  3       28089
3    4            2                  1       11713
4    5            4                  3       28591
5    6            3                  3       17385
6    7            3                  2       26197
7    8            3                  2       17611
8    9            3                  3       12841
9   10            3                  2       25063
10  11            1                  2       20434
11  12            3                  1       29434
12  13            3                  2       12263
13  14            4                  1       26824
14  15            2                  2       12754
15  16            3                  1       21692
16  17            2                  3       27919
17  18            2                  1       17938
18  19            2                  3       20928
19  20            2                  2       23496
20  21            4                  2       18413
21  22            4                  1       10912
22  23            1                  2       12828
23  24            3                  3       29931
24  25            1                  2       13654
25  26            3                  1       15034
26  27            2                  3       12570
27  28            1                  3       26102
28  29            3                  1       24685
29  30            4                  2       23872
..  ..          ...                ...         ...
69  70            2                  2       26539
70  71            3                  3       19772
71  72            4                  3       10198
72  73            1                  3       25890
73  74            2                  3       21734
74  75            1                  3       18818
75  76            1                  1       16117
76  77            2                  1       29449
77  78            4                  2       19946
78  79            3                  2       19788
79  80            1                  2       28233
80  81            1                  3       25647
81  82            2                  3       10560
82  83            3                  3       20143
83  84            3                  2       22915
84  85            1                  1       20389
85  86            3                  1       10915
86  87            4                  1       29924
87  88            2                  1       11671
88  89            1                  1       23736
89  90            1                  1       21132
90  91            2                  2       11408
91  92            2                  3       14471
92  93            2                  2       17744
93  94            3                  3       20573
94  95            3                  3       11417
95  96            2                  1       12126
96  97            2                  1       16390
97  98            2                  1       23738
98  99            2                  2       14613

[99 rows x 4 columns]

In [64]:
dataset.Superficie.mean()
#moyenne superficie

20354.878787878788

In [61]:
dataset.Superficie

0     27667
1     14742
2     28089
3     11713
4     28591
5     17385
6     26197
7     17611
8     12841
9     25063
10    20434
11    29434
12    12263
13    26824
14    12754
15    21692
16    27919
17    17938
18    20928
19    23496
20    18413
21    10912
22    12828
23    29931
24    13654
25    15034
26    12570
27    26102
28    24685
29    23872
      ...
69    26539
70    19772
71    10198
72    25890
73    21734
74    18818
75    16117
76    29449
77    19946
78    19788
79    28233
80    25647
81    10560
82    20143
83    22915
84    20389
85    10915
86    29924
87    11671
88    23736
89    21132
90    11408
91    14471
92    17744
93    20573
94    11417
95    12126
96    16390
97    23738
98    14613
Name: Superficie, Length: 99, dtype: int64

In [70]:
mean_chb = dataset['Nb chambres'].mean()
med_chb = dataset['Nb chambres'].astype('int64').sum().median()
#print('moyenne =' + mean_chb + ' et mediane =' + med_chb)

AttributeError: 'numpy.int64' object has no attribute 'median'